.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.Swimlanes {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    overflow-x: scroll;
    max-height: 100vh;
}
.Swimlane-container {
  padding: 0 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #d0d0d0;
}
.Swimlane-container .title {
  text-align: left;
  font-weight: bold;
  margin: 0 10px;
}
.Swimlane {
    overflow-y: scroll;
}
.Swimlane-tasks {
    display: unset;
}
.list-item {
    margin: 5px 0;
    cursor: pointer;
}
.list-item .card-title,
.list-item .card-text {
  text-align: left;
  cursor: text;
}
.list-item .hidden {
  display: none;
}
.list-item textarea {
  resize: none;
  width: 100%;
}